.aboutPage {
    position: relative;
    padding: 4rem 0;
    background-color: $cwhite;

    @include md-updown {
        padding: 20vh 0 2rem;
    }

    &__content {
        width: 80%;
        @include md-updown {
            width: 100%;
        }
        @include md-down {
            width: 100%;
        }

        h1 {
            font-weight: 300;
            color: $cdark;
            margin-bottom: 2rem;
            span {
                font-weight: 800;
            }
        }
    }

    &__imgCont {
        position: relative;
    }

    &__mvv {

        hr {
            border-color: $cdark;
        }
        &--cont {
            padding: 3rem 0;

            @include md-updown {
                padding: 2rem 0;
            }

            @include md-down {
                padding: 2rem 0;
            }

            h4 {
                font-size: 1.4rem;
                font-weight: 500;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}