.footer { 
    width: 100%;
    min-height: 150px;
    background-color: #000000;
    padding: 4rem 0 0; 

    @include md-updown {
        padding-top: 0;
    }

    @include md-down {
        padding-top: 2rem;
    }

    &__cta {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @include md-down {
            display: block;

        }

        h4 {
            margin-bottom: 0;
            color: $cwhite;
            font-weight: 500;
            line-height: 4rem;

            @include md-down {
                line-height: 2.5rem;
                margin-bottom: 2rem;
            }
        }

        a {
            color: $cblue;
            padding: 0.8rem 2rem;
            font-size: 1.2rem;
            border-radius: 40px;
            background-color: $cwhite;
            text-transform: uppercase;
            @include transition($all);

            @include md-down {
                display: block;
                text-align: center;
                padding: 0.6rem 2rem;
                font-size: 1rem;
            }

            &:hover {
                color: $cwhite;
                background-color: $cblue;
            }
        }
    }

    &__contact {
        position: relative;
        margin: 3rem 0;
        padding: 3rem 0;
        border-top: 2px solid $cwhite;
        border-bottom: 2px solid $cwhite;

        @include md-down {
            margin: 3rem 0;
        }

        h5 {
            font-size: 1.85rem;
            font-weight: 300;
            color: $cwhite;

            @include md-down {
                margin-bottom: 2rem;
            }
        }

        &--info {
            @include md-down {
                margin-bottom: 1rem;
            }
            span {
                color: lighten($cwhite, 30%);
                font-size: 0.8rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                display: block;
            }

            a {
                font-size: 2rem;
                font-weight: 500;
                color: $cwhite;
                text-decoration: none;
                -webkit-transition: all .4s cubic-bezier(.2, .59, .21, .6);
                -o-transition: all .4s cubic-bezier(.2, .59, .21, .6);
                transition: all .4s cubic-bezier(.2, .59, .21, .6);
                position: relative;

                @include md-updown {
                    font-size: 1.5rem;
                }

                @include md-down {
                    font-size: 1.6rem;
                }

                &:hover, &.active {
                    color: lighten($cblue, 30%);
                    &:before {
                    width: 100%;
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    background: lighten($cblue, 30%);
                    height: 2px;
                    border-radius: $border2;
                    -webkit-transition: all .4s cubic-bezier(.2, .59, .21, .6);
                    -o-transition: all .4s cubic-bezier(.2, .59, .21, .6);
                    transition: all .4s cubic-bezier(.2, .59, .21, .6);
                }
            }
        }
    }

    &__links {
        position: relative;
        padding: 2rem 0;

        @include md-down {
            padding: 1rem 0 0;
        }

        h4 {
            font-size: 1.2rem;
            font-weight: 400;
            color: $cwhite;
        }

        ul {
            @include md-down {
                margin-bottom: 2rem;
            }
            li {
                position: relative;
                padding: 0.25rem 0;
                a {
                    &.action {
                        font-size: 0.85rem;
                        font-weight: 400;
                        color: rgba($cwhite, 0.6);
                        text-decoration: none;
                        -webkit-transition: all .4s cubic-bezier(.2, .59, .21, .6);
                        -o-transition: all .4s cubic-bezier(.2, .59, .21, .6);
                        transition: all .4s cubic-bezier(.2, .59, .21, .6);
                        position: relative;
                        &:hover, &.active {
                            color: lighten($cblue, 30%);
                            &:before {
                                width: 100%;
                            }
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -2px;
                            width: 0;
                            background: lighten($cblue, 30%);
                            height: 2px;
                            border-radius: $border2;
                            -webkit-transition: all .4s cubic-bezier(.2, .59, .21, .6);
                            -o-transition: all .4s cubic-bezier(.2, .59, .21, .6);
                            transition: all .4s cubic-bezier(.2, .59, .21, .6);
                        }
        
                    }
                }
            }
        }

        img {
            opacity: 0.15;
        }
    }

    &__mainLinks {
        position: relative;
        margin-top: 2rem;
        padding: 2rem 0;
        border-top: 1px solid rgba(255, 255, 255, 0.35);

        a.mLInk {
            font-size: 0.9rem;
            font-weight: 400;
            color: $cwhite;
            text-decoration: none;
            -webkit-transition: all .4s cubic-bezier(.2, .59, .21, .6);
            -o-transition: all .4s cubic-bezier(.2, .59, .21, .6);
            transition: all .4s cubic-bezier(.2, .59, .21, .6);
            position: relative;
            
            @include md-down {
                display: block;
                margin-bottom: 1rem;
            }
            &:hover, &.active {
                color: lighten($cblue, 30%);
                &:before {
                width: 100%;
                }
            }
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 0;
                background: lighten($cblue, 30%);
                height: 2px;
                border-radius: $border2;
                -webkit-transition: all .4s cubic-bezier(.2, .59, .21, .6);
                -o-transition: all .4s cubic-bezier(.2, .59, .21, .6);
                transition: all .4s cubic-bezier(.2, .59, .21, .6);
            }
        }

        p {
            font-size: 0.9rem;
            font-weight: 400;
            color: $cwhite;

            @include md-updown {
                margin-top: 2rem;
            }

            @include md-down {
                margin-top: 0;
                margin-bottom: 1rem;
            }
        }

        &--social {
            display: table;
            margin-left: auto;
            list-style-type: none;

            @include md-updown {
                margin-top: 1rem;
            }

            @include md-down {
                margin-top: 0;
                margin-left: 0;
            }

            li {
                padding-left: 12px;
                // padding-top: 10px;
                float: left;

                @include md-down {
                    &:first-child {
                        padding-left: 0;
                    }
                }

                a {
                    color: $cgrey;
                    border: 1px solid $cgrey;
                    border-radius: 50%;
                    width: 34px;
                    height: 34px;
                    display: block;
                    text-align: center;
                    line-height: 34px;
                    i {
                        text-align:center;
                    }
                    &:hover {
                        color: $cwhite;
                        border-color: $cwhite;
                    }
                }
            }
        }
    }

    &__bottom {
        position: relative;
        padding: 2rem 0;
        border-top: 1px solid rgba(255, 255, 255, 0.3);

        p {
            color: $cgrey;
            
            @include md-down {
                text-align: center;
                margin-bottom: 2rem;
            }
        }

        a {
            color: $cgrey;

            &.ppLink {
                display: block;
                text-align: center;

                @include md-down {
                    text-align: left;
                }
            }
    
            &:hover {
                color: $cwhite;
            }
        }


        .bbb {
            float: right;
            
            img {
                height: 34px;
                margin-bottom: 0;
            }
        }
    }
}