.introSec {
    min-height: 600px;
  
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        -o-object-fit: cover;
        object-fit: cover;
        margin-bottom: 0;
    }

    .home-full-item {
        position: relative;
        padding-top: 125px;
        padding-bottom: 62.5px;
        min-height: 600px;
        height: auto;

        @include md-down {
            padding-top: 180px;
        }

        .icon-scroll {
            position: absolute;
            left: 8%;
            width: 24px;
            height: 40px;
            margin-left: -20px;
            bottom: 10%;
            margin-top: -35px;
            box-shadow: inset 0 0 0 2px $cwhite;
            border-radius: 25px;
            background-color: rgba($cwhite, 0.2);
            z-index: 4;
          
            &:before {
                position: absolute;
                left: 50%;
                content: '';
                width: 8px;
                height: 8px;
                background: #fff;
                margin-left: -4px;
                top: 8px;
                border-radius: 4px;
                -webkit-animation-duration: 1.5s;
                animation-duration: 1.5s;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                -webkit-animation-name: scroll;
                animation-name: scroll;
            }

            span {
                position: absolute; 
                bottom: -18px;
                color: $cwhite;
                font-size: 0.7rem;
                left: -2px;
            }
        }

        .icon-chat {
            display: block;
            position: absolute;
            z-index: 4;
            right: 8%;
            width: 54px;
            height: 54px;
            background-color: rgba($cwhite, 0.2);
            margin-left: -20px;
            bottom: 10%;
            margin-top: -35px;
            border-radius: 50%;
            padding: 0.65rem 0.25rem;

            svg {
                width: 100%;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 20;
        top: 14%;

        .bgImg {
            position: absolute;
            left: 0;
            bottom: 0;

            @include md-updown {
                top: 6%;
            }

            @include md-down {
                top: 32%;
            }
        }

        .content {
            position: relative;
            z-index: -1;

            h1 {
                &.display-1 {
                    line-height: 1;
                }
                @include md-down {
                    line-height: 48px;
                }
            }
        }
    }
}
  
@media (min-width: 768px) {
    .introSec {
        height: 100vh;
    }
}

.dark-overlay {
    position: relative
}

@media (min-width: 768px) {
    .dark-overlay::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        opacity: .3;
        background: #000
    }
}

@media (min-width: 768px) {
    .dark-overlay-md-0::after {
        display: none
    }
}
          
@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
  
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}
  
@keyframes scroll {
    0% {
        opacity: 1;
    }
  
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}