.introSec {
    min-height: 600px;
  
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        -o-object-fit: cover;
        object-fit: cover;
        margin-bottom: 0;
    }

    .home-full-item {
        position: relative;
        padding-top: 125px;
        padding-bottom: 62.5px;
        min-height: 600px;
        height: auto;

        @include md-down {
            padding-top: 180px;
        }
    }

    &__content {
        position: relative;
        z-index: 20;
        top: 14%;

        .bgImg {
            position: absolute;
            left: 0;
            top: -12px;

            @include md-updown {
                top: 6%;
            }

            @include md-down {
                top: 32%;
            }
        }

        .content {
            position: relative;
            z-index: -1;

            h1 {
                &.display-1 {
                    line-height: 1;
                }
                @include md-down {
                    line-height: 48px;
                }
            }
        }
    }
}
  
@media (min-width: 768px) {
    .introSec {
        height: 100vh;
    }
}

.dark-overlay {
    position: relative
}

@media (min-width: 768px) {
    .dark-overlay::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        opacity: .3;
        background: #000
    }
}

@media (min-width: 768px) {
    .dark-overlay-md-0::after {
        display: none
    }
}